<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum quisquam voluptate facilis,
  consectetur impedit et
  eligendi fugiat quae eaque animi natus vero maxime dolores laudantium rem, obcaecati possimus perferendis. Libero
  natus fuga ducimus suscipit inventore officiis perspiciatis veniam laudantium laboriosam dolore magnam aperiam quasi
  consectetur, omnis eum cupiditate nihil facere recusandae quia doloremque? Perspiciatis quod hic cumque adipisci
  aliquam alias minus corporis fugit culpa soluta ipsa velit ex accusantium, mollitia porro ipsum quisquam doloremque
  amet sequi a molestias laboriosam quo? Unde ipsam debitis quos eius nulla incidunt ex ullam temporibus. Facere
  numquam quae, animi optio suscipit quos. Cum, culpa quidem.</p>
